body {
  background-color:#7dcc46;
  font-family: arial, Helvetica, sans-serif;
  padding:0px;
  margin:0px;
}

.container {
  width:100%;
}

/* link style */
a:hover {
  background-color:#d1cece;
}
button {
  height:30px;
  border-style: none;
  font-size:20px;
  padding:6px 12px;
  color:#ffffff;
  border-radius:2px;
}

input {
  height:30px;
  border-style:none;
  padding:6px;
  border-radius:2px;
}
#index-head {
  background:url("./../images/background2.jpeg");
  background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	min-height:100vh;  
	position:relative; 
  top: -68px;
  line-height: 20px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
  text-align: center;    
  position:relative; 
  color:#ffffff;
}

#index-body {
  min-height:200px;
  margin:0px;
  padding-bottom:0px;
}
#header-title {
  font-size:60px;
}

#signin-button {
  background-color:#7dcc46;
}

.feature-sections {
  min-height:70vh;
  padding:10px;
  position:relative;
  top:-65px;
}

.feature-sections > h3 {
  text-align:center;
  position:relative;
  top:20px;
}

.feature-sections > .section-text > p {
  position:absolute;
  top:30px;
}

#make-requests {
  background-color:#e7e7d0;
}

#make-requests > .section-image {
  position:absolute;
  left:100px;
}

#make-requests > .section-text > .section-description {
  position:absolute;
  left:600px;
  top:150px;
}
#manage-requests {
  background-color:#99c20e;
  color:#ffffff;
}

#manage-requests > .section-image {
position:absolute;
right:100px;
}

#manage-requests > .section-text {
  position:absolute;
  left:150px;
  top:160px;
}

.section-image {
  width:48vh;
  height:45vh;
  padding:40px 40px;
}

.section-image > img {
  width:48vh;
  height:45vh;
  background-size:cover;
  background-position:center;
}

/* styles link elements */
.signup-link {
  text-decoration:none;
  color:#7dcc46;
  border:1px solid #7dcc46;
  background-color:#ffffff;
  border-radius:5px;
  height:60px;
  padding:6px 70px;
  font-size:20px;
  
}

#big-signup-btn {
  height:100px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
}

#big-signup-btn > a{
  position:relative;
  top:-30px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
}

#small-signup-btn {
  position:relative;
  top:-310px;
  left:40%;
}
#small-signup-btn > a {
  padding-right:6px;
  padding-left:6px
}

#signin-form-container {
  position:relative;
  top:40px;
}
#signin-form-container > form > #signin-button {
  position:relative;
  top:5px;
}

#manage-request-list {
  list-style-type:none;
  list-style-image: url(./../images/checklist-white.png);
  list-style-position:outside;
 
}
#manage-request-list li {
padding-left:10px;
padding-top:12px;
}