body {
  background-color:#7dcc46;
  font-family: arial, Helvetica, sans-serif;
  padding:0px;
  margin:0px;
  color:#000000;
}

.hide-item {
  display:none;
}
.show-item {
  display:block;
}
.container {
  width:100%;
}

.red-outline {
  border:1px solid red;
}

.bg-secondary {
  background-color:#ffffff;
}

/* link style */
a:hover {
  background-color:#d1cece;
}

a {
  text-decoration:none;
}

input#urgent-request, input#confirmisAdmin {
  width:5%;
  height:15px;
}

 textarea {
  width:90%;
  border-style:none;
  padding:6px;
  border-radius:2px;
  margin-bottom:15px;
}
/* in addition to this declaration, the position of logo on users/dashboard and admin/dashboard pages 
is also determined by the #logo-div */ 
.logo {
  position:absolute;
  top:10px;
  left:10px;
  width:75px;
  height:45;
  z-index:500;
  color:#ffffff;
  font-style:italic;
  font-size:25px;
}
/* the declaration below affects the position of logo on users/dashboard and admin/dashboard pages */
#logo-div {
  height:50px;
  width:120px;
  position:absolute;
  top:-40px;
  left:-75px;
}
/* styles link elements */
.signup-link, .signin-link {
  text-decoration:none;
  color:#7dcc46;
  height:30px;
  padding:2px 2px 2px 2px;
  font-size:15px;
}

#big-signup-link {
  height:100px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
}
#big-signup-link > a {
  position:relative;
  top:-30px;
  height:30px;
  padding:6px 30px;
  border-radius:2px;
  text-decoration:none;
  color:#7dcc46;
  font-size:15px;
  background-color:#ffffff;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
}

#small-signup-link {
  width:130px;
  font-size:13px;
  position:absolute;
  top:20px;
  right:2%;
}
#small-signup-link > a {
  padding:5px 6px;
  font-size:13px;
  font-weight: lighter;
  border-radius:2px;
  background-color:#ffffff;
  color:#7dcc46;
}

/* button style */
button {
  height:30px;
  border-style: none;
  margin:3px;
  border-radius:4px;
  margin-top:20px;
}

button.btn-wide {
  padding:6px 55px;
}

button.btn-md {
  padding:6px 20px;
}

button.green-button  {
  background-color:#7dcc46;
  border:1px solid #ffffff;
  color:#ffffff;
}

button.white-button  {
  background-color:#ffffff;
  border:1px solid #7dcc46;
  color:#7dcc46;
}
.btn-center {
  position:relative;
  width:40%;
  left:30%;
}


#toggle-navigation-btn {
  height:37px;
  background-color:white;
  width:37px;
  z-index:90;
  position:relative;
  top:-20px;
  left:79%;
  padding:2px;
}
button#toggle-navigation-btn > span {
  position:relative;
  top:-10px;
  left:-3px;
  padding:0px;
  line-height:2px;
  margin:0px;
  color:#7dcc46;
}
button#toggle-navigation-btn > span > hr {
  position:relative;
  top:10px;
  left:5px;
  padding:0px;
  line-height:3px;
  margin:4px 4px 4px 0;
}
button#toggle-navigation-btn hr {
  width:28px;
}

button#close-notice-modal, button#close-message-modal {
  background-color:red;
  position:absolute;
  right:0%;
  top:-18px;
  padding:2px 15px 2px 15px;
  border-style:none;
}

/*  for inline signin for on homepage */
#inline-signin-button  {
  position:relative;
  left:-5px;
  background-color:#7dcc46;
  color:#ffffff;
  height:29px;
  padding-top:5px;
  padding-right:10px;
  padding-left:10px;
  border-style:none;
  padding-bottom:5px;
}

#search-button {
  position:relative;
  padding-left:3px;
  padding-right:3px;
  top:0px;
  height:27px;
}
input{
  height:30px;
  border-style:none;
  padding:6px;
  border-radius:2px;
  margin-bottom:15px;
}
select {
  height:40px;
  border-style:none;
  padding:6px;
  border-radius:2px;
  margin-bottom:15px;
}

form.form-block input, form.form-block fieldset {
  width:90%;
}
select{
  width:93%;
}

form.form-block [type=text] {
  width:90%;
}

input#message-title {
  width:90%;
}

#signin-form-container input {
  height:25px;
  border-style:none;
  padding:2px 6px;
  border-radius:2px;
  margin-bottom:15px;
}

/* style for forms */
.required {
  color:red
}
.bg-outline {
  height:30px;
  border:1px solid #7dcc46;
  padding:6px;
  border-radius:2px;
}

.green-outline {
  border:1px solid #7dcc46;
}

.white-outline {
   border:1px solid #ffffff;
   color:#ffffff;
}

.bg-outline-lg-white {
  height:30px;
  border:1px solid #ffffff;
  color:#ffffff;
  background-color:#7dcc46;
  padding:6px 30px;
  border-radius:2px;
}
textarea.bg-outline {
  border:1px solid #7dcc46;
  padding:6px;
  border-radius:2px;
}

.form-title {
  position:relative;
  left:20%;
}
.form-label {
  margin:3px;
}

#signin-form-container {
  position:relative;
  top:150px;
  display:none;
}

/* style signup page and form  */
#signup-head {
  height:50vh;
  background-color:#4d4e49;
}
.form-container {
  width:75%;
  position:relative;
  top:-150px;
  background-color:#ffffff;
  border:2px solid #7dcc46;
  border-radius:5px;
  padding:30px 15px;
  margin:40px 10px;
}
#signin2-form-container{
  position:relative;
  top:-200px;
  left:5%;
}
#signup-form-container .form-content{
  min-height:350px;
  /* overflow:scroll; */
}
#signup-form-container {
  position:relative;
  top:-200px;
  width:90%;
  left:1%;
}

.form-gradient {
  width:85%;
  position:relative;
  left:0%;
  top:-150px;
  background-color:#ffffff;
  border:2px solid #7dcc46;
  border-radius:5px;
  margin:40px 10px;
}

#index-head {
  background:url("./../images/background2.jpeg");
  background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
  min-height:100vh;
  width:100%;
	position:relative; 
  top: -1px;
  line-height: 20px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
  text-align: center;    
  position:relative; 
  color:#ffffff;
}

div#overlay {
background:rgba(14, 13, 13, 0.4);
min-height:100vh;
width:100%;
}
#header-title {
  font-size:40px;
  line-height: 35px;
  position:relative; 
  top: 100px;
}
#index-description {
  position:relative; 
  top: 100px;
}
#index-body {
  position:relative;
  top:64px;
  min-height:200px;
  margin:0px;
  padding-bottom:0px;
}

.feature-sections {
  padding:10px;
  position:relative;
  top:-65px;
} 

.feature-sections > h3 {
  text-align:center;
  position:relative;
  top:20px;
}
/*
.feature-sections > .section-text > p {
  position:absolute;
  top:30px;
} */
#make-requests {
  height:650px;
  background-color:#fefefe;
}
#make-requests .section-text {
  position:relative;
  top:150px;
}
#make-requests .section-text .section-description {
  position:relative;
  width:200px;
  left:10%;
  line-height:25px;
}

#manage-requests {
  height:650px;
  background-color:#4d4e49;
  color:#ffffff;
}
#manage-requests .section-text {
  position:relative;
  top:120px;
  left:5%;
  width:90%;
}
#manage-request-list {
  width:90%;
  list-style-type:none;
  list-style-image: url(./../images/checklist-white.png);
  list-style-position:outside;
 
}
#manage-request-list li {
padding-left:10px;
padding-top:12px;
}

.section-image {
  width:95px;
  height:95px;
  padding:40px 25px;
}
.section-image > img {
  width:48vh;
  height:45vh;
  background-size:cover;
  background-position:center;
}
#make-requests > .section-image {
  position:relative;
  left:-30px;
}
#manage-requests > .section-image {
  position:relative;
  left:-30px;
}

#chat-icaon {
  width:20px;
  height:20px
}
.page-header {
  height:90px;
  background-color:#7dcc46;
  position:fixed;
  top:0px;
  z-index:400;
}

#top-nav-layer {
  width:60%;
  height:39px;
  position:relative;
  top:2px;
  left:39%;
}
#top-nav-layer  ul {
  align-items:right;
  height:39px;
  list-style:none;
  position:relative;
  top:-18px;
  padding:0px;
}
#top-nav-layer  ul  li{
  display:inline-block;
  height:39px;
}
#top-nav-layer > ul > li > a {
  color:#ffffff;
  font-size:13px;
}

li#signout-item {
  position:absolute;
  right:31px;
  word-spacing:-3px;
  padding-left:3px;
  padding-right:3px;
}
li#profile {
  position:absolute;
  right:87px;
}
li#signout-item a {
  position:relative;
  top:9px;
}
li#message-item {
  position:absolute;
  right:2px;
}
li#message-item a {
  position:relative;
  top:9px;
  padding-left:3px;
  padding-right:3px;
}

.profile-photo {
  width:39px;
  height:39px;
  border-radius:3px;
  padding-left:3px;
  padding-right:3px;
} 

#bottom-nav-layer {
  width:68%;
  height:40px;
  position:relative;
  bottom:12px;
  left:28%;
  padding:2px 3px;
}

#bottom-nav-layer > div > ul {
  list-style:none;
  position:relative;
  top:-16px;
  height:40px;
}
#bottom-nav-layer > div.nav-bar {
  display:none;
}
#bottom-nav-layer > #vertical-nav-bar > ul {
  width:110%;
  height:100px;
  position:absolute;
  left:-35px;
  top:30px;
  padding:10px;
  background-color:#7dcc46;
}
#bottom-nav-layer > #vertical-nav-bar > ul > li {
  width:80%;
  height:30px;
  padding-top:6px;
  border:0px;
  border-radius:0px;
}

#bottom-nav-layer > #vertical-nav-bar > ul > li a {
  width:80%;
  height:0px;
  padding:0px;
  color:#ffffff;
  border-bottom:2px solid #ffffff;
  font-size:14px;

}
#bottom-nav-layer > #vertical-nav-bar > ul > li > a.active {
  color:#7dcc46;
  background-color:#ffffff;
  padding:5px 15px;  
  border-radius:2px;
}
#toggle-navigation-btn {
  display:block
}
/* admin */
#search-form-container {
  position:relative;
  top:50px;
  right:1%;
  width:100%;
  height:35px
  /* display:none; */
}
#search-form.inline-form {
  position:relative;
  top:-16px;
  left:3%;
  width:250px;
}

/* content */
#content-area {
  padding-bottom:100px;
  padding-top:50px;
}



 /* request and details */
 #view-requests, #view-users-requests, #view-approved-requests, #view-resolved-requests {
  width:88%;
 /* background-color:#7dcc46; */
  position:relative;
  top:1px;
  left:5%;
  margin-top:90px;
  margin-bottom:90px;
  padding:30px 5px;
  display:grid; /* will be change to display grid on tab nav */
  grid-template-columns:90%;
  grid-gap:1em;
  justify-content:center;
  font-size:14px;
}
#view-requests.hide-item, #view-users-requests.hide-item, #view-approved-requests.hide-item, #view-resolved-requests.hide-item {
  display:none; /* will be change to display grid on tab nav */
}

#form-control-container {
  position:relative;
  top:-15px;
  display:grid; 
  grid-template-columns:100%; 
  justify-content:center;
}
#form-control-container input, #form-control-container select {
  height:20px;
  padding:6px;
  border-radius:2px;
  margin-bottom:10px;
}
#signup-admin-section {
position:relative;
width:95%;
left:0%;
}

#request-form-container {
  position:relative;
  top:30px;
}
.requests {
  background-color:#ffffff;
  /* box-shadow: 4px 7px 0 0 rgba(0, 0, 0, 0.3); */
  border:2px solid #ffffff;
  border:1px solid #7dcc46;
  border-radius:5px;
  display:inline-block;
}
.request-content {
  padding-top:15px;
  height:200px;
  width:200px;
  position:relative;
  top:-50px;
  left:3%
}
 .form-content {
  padding:10px;
}
.request-content button {
  font-size:13px;
  margin:3px;
}
dl.request-details {
  height:225px;
  width:180px;
  margin:2px;
}

.request-details > dt {
  font-weight:lighter;
  color:#7dcc46;
  width:40%;
}
.request-details > dd {
  width:40%;
  position:relative;
  left:-30%;
  margin-top:5px;
  margin-bottom:13px;
}
.request-details > dd.description, .request-details > dd.address {
  width:92%;
} 
.requests > .form-inline {
  height:60px;
  width:200px;
  position:relative;
  top:-20px;
}
.requests > .form-inline > button {
  margin:2px 2px 1px 2px;
  width:135px;
  position:relative;
  left:15%;
}
dt.issueDate, dt.category, dt.description, dt.urgent, dt.status, dt.address {
text-transform:capitalize;
}
dt.issuedate, dd.issueDate {
  position:relative;
  left:2%;
  top:0px;

}

dd.issueDate {
  left:-22%;
}

dt.category, dd.category {
  position:relative;
  left:55%;
  top:-50px;
}

 dd.category {
   width:40%;
    left:30%;
  }

  dt.description, dd.description {
    position:relative;
    left:1%;
    top:-50px;
    font-size:15px;
  }

  dd.description {
    left:-20%;
    height:35px;
    overflow:hidden;
  }
  .display-full-description {
    position:relative;
    display:block;
  }

  dt.address, dd.address {
    position:relative;
    left:1%;
    top:-50px;
  }

  dd.address {
    left:-20%;
  }

  dt.urgent, dd.urgent {
    position:relative;
    left:1%;
    top:-47px;
  }

  dd.urgent {
    left:-20%;
  }

  dt.status, dd.status {
    position:relative;
    left:55%;
    top:-97px;
  }

  dd.status {
    width:100px;
    left:30%;
  } 
  
#contact-service-dept {
  position:relative;
  top:200px;
  margin:50px 10px;
}

#footer-div {
  background-color:#7dcc46;
  position:relative;
  top:1px;
  padding:0px 2px;
  height:400px;
  width:98%;
}
#footer-div > #site-info > .more-info {
  margin:10px;
  padding:4px 2px;
}

#footer-div > #site-info > .more-info > a {
  font-weight:bold;
  color:#ffffff;
}
div#site-info {
  position:relative;
  bottom:-90px;
  left:17%;
  width:130px;
  margin:0px;
}

div#social-sharing {
  width:60px;
  position:relative;
  left:73%;
  top:-100px;
}
div.socials {
  background-color:#ffffff;
  width:30px;
  height:30px;
  padding:14px;
  margin:2px;
}

#footer-div img {
  width: 45px;
  height:45px;
  position:relative;
  right:35%;
  bottom:10px;
}
p#copyright {
  position:relative;
  width:80%;
  top:-40px; 
  left:10%;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
p#copyright > a {
  color:#ffffff;
  font:12px lighter;
}

#top-nav-layer > ul > li#notification-item {
  position:relative;
  top:-10px;
  height:20px;
  padding-top:4px;
}

#top-nav-layer img#notification-icon {
  height:25px;
  width:25px;
}
div#notice-modal, div#message-modal {
  width:85%;
  position:fixed;
  height:340px;
  top:130px;
  right:5%;
  border:1px solid #7dcc46;
  border-radius: 2px;
  background-color:white;
  padding:2px 10px 15px 10px;
  z-index:300;
}
div#message-mdoal-header {
  background-color:#7dcc46;
  height:35px;
  width:98%;
  position:absolute;
  top:0px;
  left:0px;
  padding:3px 6px 7px 4px;
}
div#message-mdoal-header #message-head-title {
color:#ffffff;
text-align:center;
font-size:18px;
}
#message-content {
  position:relative;
  top:45px;
  height:310px;
  overflow:scroll;
}
#message-content  .sender {
background-color:#a8c7e4;
padding:5px;
padding-left:15px;
position:relative;
top:-5px;
}
#message-content .receiver{
  background-color:#c1e4a8;
  padding:5px;
  padding-left:15px;
  position:relative;
  top:-5px;
}
#notice-head-title {
  margin:40px 0 20px 0;
}
/* Utility */
.small-header-gradient {
  background:#7dcc46;
  color:#ffffff;
  width:100%;
  height:60px;
  margin-bottom:40px;
}

.small-header-gradient-reverse {
  background:#7dcc46;
  color:#ffffff;
  width:100%;
  height:60px;
  margin-bottom:40px;
}

.head-title {
  text-align:center;
  padding-top:20px;
  margin:0px;
}

#console-modal {
  height:80px;
  width:90%;
  padding:5px;
  border-radius:5px;
  background-color:#7dcc46;
  position:fixed;
  z-index:300;
  left:1%;
  top:100px;
}
#console-modal > p {
  position:relative;
  left:-0%;
  top:6px;
  text-align:center;
  font-size:14px;
  color:#ffffff;
} 
#console-modal > button {
  position:absolute;
  left:65%;
  top:35px;
} 

.shadow {
  box-shadow: 4px 7px 0px 1px rgba(0, 0, 0, 0.3);
}
.text-shadow {
  text-shadow: 3px 3px 1px rgba(3, 3, 3, 0.5);
}
.shadow-bottom {
  box-shadow: 0 7px 4px 2px rgba(0, 0, 0, 0.2);
}
.shadow-right {
  box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width:320px) {
  #logo-div {
    left:-85px;
  }
  div#site-info {
    left:19%;
  }
  div#social-sharing {
    left:76%;
  }

  /* admin */
  
  #search-form.inline-form {
    left:20%;
  }
  

  .request-content {
    width:220px;
    left:9%
  }
  dl.request-details {
    width:190px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:20%;
  }

  #console-modal {
    left:3%;
  }
  #console-modal > button {
    left:70%;
  } 
}

@media only screen and (min-width:420px) {
  #logo-div {
    left:-110px;
  }
  
  #search-form.inline-form {
    left:40%;
  }
  #make-requests > .section-image {
    left:10%;
  }
  
  #manage-requests > .section-image {
    left:10%;
  }
  
  #make-requests .section-text .section-description {
    width:60%;
    left:10%; 
  }

  #manage-requests .section-text {
    left:10%;
  }

#signin2-form-container, #request-form-container, #contact-form-container {
    width:70%;
    left:15%;
  }

  #toggle-navigation-btn {
    left:88%;
  }

  #footer-div {
    padding:0px 4px;
    width:98%;
  }
  div#site-info {
    left:27%;
  }
  div#social-sharing {
    left:81%;
  }
  .request-content {
    width:250px;
    left:9%
  }
  dl.request-details {
    width:190px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:20%;
  }

  #console-modal > button {
    left:78%;
  } 
}

@media only screen and (min-width:520px) {
  #logo-div {
    left:-140px;
  }
  #search-form.inline-form {
    left:50%;
  }
  #make-requests > .section-image {
    left:15%;
  }
  
  #manage-requests > .section-image {
    left:15%;
  }
  
  #make-requests .section-text .section-description {
    left:15%;
  }

  #signin-form-container {
    display:block;
  }
  #signup-form-container {
    left:3%;
  }
  #form-control-container { 
    grid-template-columns:45% 45%; 
  }
  #signup-admin-section {
    position:relative;
    width:95%;
    left:5%;
    }

  #index-signin-link {
    display:none;
  }

  #index-signup-link {
    position:relative;
    right:-21%;
  }

  #footer-div {
    padding:0px 5px;
    width:98%;
  }

  div#site-info {
    left:32%;
  }
  div#social-sharing {
    left:85%;
  }
  #view-requests, #view-users-requests, #view-approved-requests, #view-resolved-requests {
    width:90%;
    top:1px;
    left:5%;
    margin-top:90px;
    margin-bottom:90px;
    padding:30px 2px;
    grid-template-columns:47% 47%;
  }
  .request-content {
    width:200px;
    left:9%
  }  
  dl.request-details {
    width:190px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:17%;
  }

  #console-modal > button {
    left:82%;
  } 
}

@media only screen and (min-width:620px) {
  #logo-div {
    left:-160px;
  }
  #search-form.inline-form {
    left:60%;
  }
  div#notice-modal, div#message-modal {
    width:60%;
  }

  .request-content {
    width:200px;
    left:9%
  }  
  dl.request-details {
    width:200px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:24%;
  }

  #console-modal {
    width:70%;
    left:15%;
  }
  #console-modal > button {
    left:81%;
  } 
}

@media only screen and (min-width:720px) {
  #logo-div {
    left:-180px;
  }
  #search-form.inline-form {
    left:65%;
  }
  #make-requests {
    height:440px;
    background-color:#fefefe;
  }
  #make-requests .section-text {
    position:relative;
    top:10px;
  }
  #make-requests > .section-image {
    position:absolute;
    left:3%;
  }
  
  #manage-requests {
    height:440px;
  }
  #make-requests > .section-text > .section-description {
    left:50%;
    top:80px;
    width:40%;
  }
  #manage-requests > .section-image {
    position:absolute;
    left:55%;
  }
  #manage-requests > .section-text {
    position:absolute;
    left:5%;
    top:100px;
  }

#signin2-form-container {
    width:60%;
    left:20%;
  }

  #toggle-navigation-btn {
    left:92%;
  }
/*
  #search-form-container {
    top:-5px;
    left:86%;
  }
  [type=search] {
    width:183px;
  } */
  #footer-div {
    padding:0px 3px;
    width:99%;
  }

  div#notice-modal, div#message-modal {
    width:55%;
  }

  .request-content {
    width:220px;
    left:9%
  }  
  dl.request-details {
    width:220px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:30%;
  }

  #console-modal > button {
    left:83%;
  } 
}

@media only screen and (min-width:820px) {
  #logo-div {
    left:-200px;
  }
  #search-form.inline-form {
    left:70%;
  }
#signin2-form-container, #request-form-container, #contact-form-container {
    width:40%;
    left:30%;
  }
  #signup-form-container {
    left:4%;
  }
/*  #signup-form-container {
    width:80%;
    left:10%;
    top:-250px
  }
  #signup-form-container .form-content{
    height:350px;
  } */
  /*
  #signup-form-container .form-content form.form-block input, select, fieldset {
    width:45%;
  }
  #signup-form-container  {
    width:45%;
  } */
  
  #footer-div {
    padding:0px 0px;
    width:100%;
    height:230px;
  }

  div#site-info {
    width:90%;
    left:5%;
    top:15px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  div#social-sharing {
    width:90%;
    left:5%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    top:40px;
  }
  p#copyright {
    top:70px; 
  }

  #view-requests, #view-users-requests, #view-approved-requests, #view-resolved-requests {
    width:97%;
    left:2%;
    grid-template-columns:30% 30% 30%;
  }
  .request-content {
    width:220px;
    left:9%
  }  
  dl.request-details {
    width:220px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:20%;
  }

  #console-modal > button {
    left:85%;
  } 
}

@media only screen and (min-width:920px) {
  #search-form.inline-form {
    left:75%;
  }
  #logo-div {
    left:-150px;
  }
  #toggle-navigation-btn {
    display:none;
  }

  #bottom-nav-layer {
    width:65%;
    left:18%;
  }
  #bottom-nav-layer > #vertical-nav-bar {
    display:none;
  }
  #bottom-nav-layer > div.nav-bar {
    display:inline-block;
    position:relative;
    height:40px;
    width:100%;
  }

  #bottom-nav-layer > div > ul > li{
    display:inline-block;
    padding:5px 0px;
    height:26px;
    padding-top:12px;
    position:relative;
    left:-42px;
  }
  #bottom-nav-layer > div > ul > li > a{
    padding:9px 16px;
    margin:0px;
    text-align:center;
    border-radius:2px;
    border:1px solid #ffffff;
    color:#ffffff;
    font-size:14px;
  }
  #bottom-nav-layer > div > ul > li > a.active{
    background-color:#ffffff;
    color:#7dcc46;
  }
  /*
  #search-form-container {
    top:-5px;
    left:86%;
  }
  [type=search] {
    width:183px;
  }
  */
  /*
  div#social-sharing {
    left:87%;
  } */

  .request-content {
    width:240px;
    left:9%
  }  
  dl.request-details {
    width:240px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:25%;
  }

  #console-modal > button {
    left:87%;
  }
}

@media only screen and (min-width:1024px) {
  #logo-div {
    left:-205px;
  }
  #search-form.inline-form {
    right:10%;
  }
  #make-requests > .section-image {
    position:absolute;
    left:15%;
  }
  #make-requests > .section-text > .section-description {
    left:50%;
  }
  #manage-requests > .section-text {
    width:50%;
    left:15%;
  }

#signin2-form-container, #request-form-container, #contact-form-container {
    width:30%;
    left:35%;
  }

  #signup-form-container {
    width:60%;
    left:20%;
  }
  #form-control-container { 
    grid-template-columns:45% 45%; 
  }

  /* admin */
  /*
  #search-form-container {
    top:-55px;
    left:88%;
    width:280px;
  }
  */

  div#notice-modal, div#message-modal {
    width:45%;
  }

  #view-requests, #view-users-requests, #view-approved-requests, #view-resolved-requests {
    width:98%;
    left:1%;
    grid-template-columns:24% 24% 24% 24%;
  }
  .request-content {
    width:220px;
    left:9%
  }  
  dl.request-details {
    width:220px;
  }
  .requests > .form-inline {
    width:200px;
  }
  .requests > .form-inline > button {
    width:135px;
    left:20%;
  }

  #console-modal {
    width:60%;
    left:20%;
  }
  #console-modal > button {
    left:85%;
  }
}
