body {
  background-color:#7dcc46;
  font-family: arial, Helvetica, sans-serif;
  padding:0px;
  margin:0px;
}

.bg-primary {

}
.bg-secondary {
  background-color:#ffffff;
}

.container {
  width:100%;
}

.logo {
  position:fixed;
  top:10px;
  left:10px;
  width:130px;
  height:65;
}
/* link style */
a {
  text-decoration:none;
}
a:hover {
  background-color:#d1cece;
}
button {
  height:30px;
  border-style: none;
  font-size:20px;
  padding:6px 12px;
  margin:3px;
  color:#ffffff;
  border-radius:2px;
  margin-top:20px;
}
button.btn-large {
  padding:6px 55px;
}

input {
  height:30px;
  border-style:none;
  padding:6px;
  border-radius:2px;
  margin-bottom:15px;
}
input.bg-outline {
  height:30px;
  border:1px solid #7dcc46;
  padding:6px;
  border-radius:2px;
}
#index-head {
  background:url("./../images/background2.jpeg");
  background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	min-height:100vh;  
	position:relative; 
  top: -68px;
  line-height: 20px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
  text-align: center;    
  position:relative; 
  color:#ffffff;
}

#index-body {
  min-height:200px;
  margin:0px;
  padding-bottom:0px;
}
#header-title {
  font-size:60px;
}

#signin-button, #signup-button {
  background-color:#7dcc46;
}

.feature-sections {
  min-height:70vh;
  padding:10px;
  position:relative;
  top:-65px;
}

.feature-sections > h3 {
  text-align:center;
  position:relative;
  top:20px;
}

.feature-sections > .section-text > p {
  position:absolute;
  top:30px;
}

#make-requests {
  background-color:#e7e7d0;
}

#make-requests > .section-image {
  position:absolute;
  left:100px;
}

#make-requests > .section-text > .section-description {
  position:absolute;
  left:600px;
  top:150px;
}
#manage-requests {
  background-color:#99c20e;
  color:#ffffff;
}

#manage-requests > .section-image {
position:absolute;
right:100px;
}

#manage-requests > .section-text {
  position:absolute;
  left:150px;
  top:160px;
}

.section-image {
  width:48vh;
  height:45vh;
  padding:40px 40px;
}

.section-image > img {
  width:48vh;
  height:45vh;
  background-size:cover;
  background-position:center;
}

/* styles link elements */
.signup-link, #signin-link {
  text-decoration:none;
  color:#7dcc46;
  border:1px solid #7dcc46;
  background-color:#ffffff;
  border-radius:5px;
  height:60px;
  padding:6px 70px;
  font-size:20px;
  
}

#big-signup-btn {
  height:100px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
}

#big-signup-btn > a{
  position:relative;
  top:-30px;
  display:flex; 
  flex-direction:column; 
  justify-content:center; 
  align-items:center;
}

#small-signup-btn {
  position:relative;
  top:-310px;
  left:40%;
}
#small-signup-btn > a {
  padding-right:6px;
  padding-left:6px
}

#signin-form-container {
  position:relative;
  top:40px;
}
#signin-form-container > form > #signin-button {
  position:relative;
  top:5px;
}

#manage-request-list {
  list-style-type:none;
  list-style-image: url(./../images/checklist-white.png);
  list-style-position:outside;
 
}
#manage-request-list li {
padding-left:10px;
padding-top:12px;
}


/* style for forms */
.required {
  color:red
}

form > button.btn-center {
  position:relative;
  left:15%;
}

.form-title {
  position:relative;
  left:20%;
}
.form-label {
  margin:3px;
}

/* style signup page and form  */
#singnup-head {
  height:50vh;
  background-color:#7dcc46;
}
#signiup-form-container {
  width:25%;
  position:relative;
  left:40%;
  top:-150px;
  background-color:#ffffff;
  border:2px solid #7dcc46;
  border-radius:5px;
  padding:30px 15px;
  margin:40px 10px;
}
.page-header {
  height:100px;
  background-color:#7dcc46;
  border-bottom:2px solid #ffffff;
}
/* users dashboard */
.profile-photo {
  width:45px;
  height:45px;
  border-radius:3px;
}
#top-nav-layer {
  width:100%;
  height:45px;
  position:relative;
  top:15px;
}

#top-nav-layer > ul {
  list-style:none;
  position:relative;
  left:80%;
  top:-25px;
}

#top-nav-layer > ul > li{
  display:inline-block;
  padding:5px 3px;
}

#top-nav-layer > ul > li > a {
  color:#ffffff;
}

#top-nav-layer > ul > li#signout-item {
  padding-top:40px;
  position:relative;
  top:-20px;
}

#bottom-nav-layer {
  width:60%;
  height:45px;
  position:relative;
  bottom:-3px;
  left:30%;
}

#bottom-nav-layer > div > ul {
  list-style:none;
  position:relative;
  top:-15px;
}

#bottom-nav-layer > div > ul > li{
  display:inline-block;
  padding:5px 10px;
  border:1px solid #ffffff;
  border-radius:2px;
  height:26px;
  padding-top:12px;
}

#bottom-nav-layer > div > ul > li > a{
  text-align:center;
  color:#ffffff;
  font-size:16px;
  
}